:root {
  --border-rad-lg: 15px;
  --medium-light-text: #586e88;
  --light-text: #fcfcfc;
  --bg-dark: #051120;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: large;
}

main {
  background-color: var(--bg-dark);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* chatbot elements */

.chatbot-container {
  flex: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-left: var(--medium-light-text) solid 1px;
}

.chatbot-container > * {
  padding: 0.5em;
}

.user-panel {
  flex: 1;
  padding: 1rem;
}

.chatbot-header {
  padding: 1em;
}

label {
  color: var(--light-text);
  line-height: 3rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radio-item {
  display: flex;
  align-items: center;
}

fieldset {
  color: var(--medium-light-text);
  margin-top: 2rem;
  border-radius: 20px;
  border: var(--medium-light-text) 1px solid;
}

.clear-btn {
  height: 2.5rem;
  padding: 0;
  width: 100px;
  color: var(--medium-light-text);
  font-size: 20px;
}

.clear-btn:hover {
  border: 1px solid #24976f;
  color: #24976f;
  cursor: pointer;
}
.chatbot-conversation-container {
  height: 100%;
  overflow-y: scroll;
  margin: 1em 0;
}

/* stop ugly scroll bar on some browsers */
.chatbot-conversation-container::-webkit-scrollbar {
  display: none;
}

.chatbot-conversation-container::-moz-scrollbar {
  display: none;
}

.speech {
  padding: 1em;
  margin: 1em auto;
  max-width: 260px;
  color: var(--light-text);
  min-width: 100%;
  border-radius: var(--border-rad-lg);
  line-height: 2rem;
}

.speech:first-child {
  margin-top: 0;
}

.speech-assistant {
  background: #253b4b;
  border-top-left-radius: 0;
}

.speech-user {
  background: #24976f;
  border-top-right-radius: 0;
}

.chatbot-input-container {
  display: flex;
}

input[type="text"],
button {
  background-color: transparent;
  border: 1px solid var(--medium-light-text);
  border-radius: 15px;
  padding: 1em;
}

textarea {
  color: #fcfcfc;
  width: 100%;
  height: 200px;
  border-right: 0;
  border-radius: 16px;
  background: none;
  padding: 10px;
}

.submit-button {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.send-btn-icon {
  width: 20px;
  display: block;
}

/* text */

h1 {
  font-size: 15px;
  color: var(--light-text);
  grid-area: title;
}

h2,
p {
  color: var(--medium-light-text);
}

h2 {
  font-size: 11px;
  font-weight: 700;
  grid-area: subtitle;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  main {
    flex-direction: row;
  }
}
